#action1{
    font-size: 24px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}
.goTopHidden{
    display: none;
}

.goTop{
    display: block;
    cursor: pointer;
    position: fixed;
    bottom: 14%;
    right: 35px;
    font-size: 36px;
    color: #FF5733;
}

